@model FHHL.Web.Models.Record.CreateViewModel
@inject FHHL.BLL.Interfaces.IOptionsService optionsService
@{
    var assignees = await optionsService.GetAssigneesAsync();
    var referralSources = await optionsService.GetReferralSourcesAsync();
    var programs = await optionsService.GetProgramsAsync();
    var visitResults = await optionsService.GetVisitResultsAsync();
    var races = await optionsService.GetRacesAsync();
    var pregnancyStates = await optionsService.GetPregnancyStatesAsync();
    var riskLevels = await optionsService.GetRiskLevelsAsync();

    ViewData["Title"] = "Create Referral";
}


<main class="external-section-flex-lg">
    <form method="post">
        <div class="row">
            <div class="col-12 mb-1 external-section-header">
                Create Referral for @Model.CaregiverName
            </div>
            <div class="col-12">
                <p class="text-center mb-0" style="font-size: 14px;">Fields marked with * are required.</p>
            </div>
        </div>
        <hr style="margin-top: .5rem;" />
        <div class="row">
            <input type="hidden" asp-for="CaregiverId" />
            <div class="col-lg-4 border-right-not-mobile">
                <h3 class="text-center" style="font-size: 25px;">Referral Info</h3>
                <div class="form-group">
                    <label asp-for="ReferralDate">Referral Date *</label>
                    <input type="text" asp-for="ReferralDate" class="form-control datepicker" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="SelectedReferralSources">Referral Source(s)</label>
                    <select class="selectpicker form-control" asp-for="SelectedReferralSources" multiple>
                        @foreach (var referralSource in referralSources.Where(r => r.ActiveFlag))
                        {
                            <option value="@referralSource.Id">@referralSource.Label</option>
                        }
                    </select>
                </div>


                <div class="form-group">
                    <label asp-for="ReferralReason"></label>
                    <textarea type="text" asp-for="ReferralReason" style="height: 125px;" class="form-control"></textarea>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between">
                    <label asp-for="FtoF" class="mb-0">Face to Face Referral</label>
                    <label class="switch ml-3 mb-0">
                        <input type="checkbox" asp-for="FtoF" class="primary" value="true">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="col-lg-4 border-right-not-mobile">
                <h3 class="text-center" style="font-size: 25px;">Child Info</h3>
                <div class="form-group">
                    <label asp-for="ChildName"></label>
                    <input asp-for="ChildName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ChildDateOfBirth"></label>
                    <input type="text" asp-for="ChildDateOfBirth" class="form-control datepicker" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="SelectedRaces">Race(s)</label>
                    <select class="selectpicker form-control" asp-for="SelectedRaces" multiple>
                        @foreach (var race in races.Where(r => r.ActiveFlag))
                        {
                            <option value="@race.Id">@race.Label</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Type">Pregnancy State</label>
                    <select asp-for="Type" class="form-control">
                        <option></option>
                        @foreach (var pregnancyState in pregnancyStates.Where(r => r.ActiveFlag))
                        {
                            <option value="@pregnancyState.Id">@pregnancyState.Label</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="LOR">Risk Level</label>
                    <select asp-for="LOR" class="form-control">
                        <option></option>
                        @foreach (var riskLevel in riskLevels.Where(r => r.ActiveFlag))
                        {
                            <option value="@riskLevel.Id">@riskLevel.Label</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Program"></label>
                    <select asp-for="Program" class="form-control">
                        <option></option>
                        @foreach (var program in programs.Where(r => r.ActiveFlag))
                        {
                            <option value="@program.Id">@program.Label</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="EDC"></label>
                    <input type="text" asp-for="EDC" class="form-control datepicker"  autocomplete="off"/>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between">
                    <label asp-for="FirstChild" class="mb-0"></label>
                    <label class="switch ml-3 mb-0">
                        <input type="checkbox" asp-for="FirstChild" class="primary" value="true">
                        <span class="slider round"></span>
                    </label>
                </div>

            </div>
            <div class="col-lg-4">
                <h3 class="text-center" style="font-size: 25px;">Outcome</h3>

                <div class="form-group">
                    <label asp-for="AssignedTo"></label>
                    <select asp-for="AssignedTo" class="form-control">
                        <option></option>
                        @foreach (var assignee in assignees.Where(r => r.ActiveFlag))
                        {
                            <option value="@assignee.Id">@assignee.Label</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="AssignDate"></label>
                    <input type="text" asp-for="AssignDate" class="form-control datepicker"  autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label asp-for="Result"></label>
                    <select asp-for="Result" class="form-control">
                        <option></option>
                        @foreach (var visitResult in visitResults.Where(r => r.ActiveFlag))
                        {
                            <option value="@visitResult.Id">@visitResult.Label</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ResultDate"></label>
                    <input type="text" asp-for="ResultDate" class="form-control datepicker" />
                </div>
                <div class="form-group">
                    <label asp-for="Notes"></label>
                    <textarea type="text" asp-for="Notes" style="height: 125px;" class="form-control"></textarea>
                </div>

            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-end align-items-center">
            <a asp-controller="Caregiver" asp-action="Dashboard" asp-route-id="@Model.CaregiverId" class="btn btn-link">Cancel</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>

</main>

@section Scripts {
    <script type="text/javascript" src="~/js/RecordSearchTable.js"></script>
}